html,body{
  width: 100%;
  height: 100%;
}
img{
  display: block;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.lt-container{
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px;
  background-color: #fff;
  overflow: hidden;
  padding-top: 45px;
  padding-bottom: 55px;
}

/* 头部 */
.lt-header{
  position: absolute;
  width: 100%;
  height: 45px;
  left: 0;
  top: 0;
  background-color: #069;
  padding: 0 45px;
}
.lt-header h3{
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 0;
  color: #fff;
}
.lt-header a{
  position: absolute;
  left: 0;
  top: 0;
  width: 45px;
  height: 45px;
  color: #fff;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
}
.lt-header a.lt-header-lr{
  left: auto;
  right: 0;
}

/* 中间 */
.lt-content{
  width: 100%;
  height: 100%;
  position: relative;
}

/* 尾部 */
.lt-footer{
  
  position: absolute;
  width: 100%;
  height: 55px;
  left: 0;
  bottom: 0;
  background-color: #069;
}
.lt-footer ul li {
  float: left;
  width: 25%;
  text-align: center;
}

.lt-footer ul li a {
  display: block;
  height: 55px;
  padding-top: 8px; 
  color: #fff;
}
.lt-footer ul li a p{
  color: #fff;
}
.lt-footer ul li.current a {
  color: orange;
}
.lt-footer ul li.current p {
  color: orange;
}